# PKG REQS
# -----------------
attrs >= 18.1.0
bs4
docker
pydicom
pyyaml
pillow
python-dateutil
redis
requests
watchdog

# APP REQS
# -----------------
click

# TESTING REQS
# -----------------
pytest >= 4.0
pytest-cov
interruptingcow

# SPHINX REQS
# -----------------
recommonmark
pypandoc
sphinx
# This stalls on non-amd64 architectures and is only req'd for
# sphinx to read the package for some reason.
websocket>=0.2.1
