# PKG REQS
# -----------------
attrs >= 18.1.0
requests
pydicom
pyyaml
redis
docker
bs4
pillow
python-dateutil

# APP REQS
# -----------------
click

# TESTING REQS
# -----------------
pytest >= 4.0
pytest-cov
interruptingcow

# SPHINX REQS
# -----------------
recommonmark
pypandoc
sphinx