# PKG REQS
# -----------------
attrs >= 18.1.0
bs4
docker
pydicom
pyyaml
pillow
python-dateutil
redis
requests
watchdog
lxml
jinja2
python-crud @ git+https://github.com/derekmerck/pycrud.git#subdirectory=package

# APP REQS
# -----------------
click
connexion[swagger-ui]
pyyaml

# PIXEL-HANDLING REQS
# -----------------
cython
numpy
scipy
keras
#keras-retinanet  # broken on arm, deps opencv
#opencv-python    # no arm32 pip, can install cv2 with apt
scikit-learn

# ANY OF THESE
# tensorflow      # arm32 custom wheel for this
# tensorflow-gpu
# tf-nightly
# tf-nightly-gpu

# TESTING REQS
# -----------------
pytest >= 4.0
pytest-cov
interruptingcow

# SPHINX REQS
# -----------------
recommonmark
pypandoc
sphinx
# This stalls on non-amd64 architectures and is only req'd for
# sphinx to read the package for some reason.
websocket>=0.2.1
