# DICOM study submission secrets

# Host Info
# ------------------
DATA_DIR=/data

# General Service Info
# ------------------
PORTAINER_PASSWORD_CLEAR=xxx
# Hash this with
PORTAINER_PASSWORD=xxx
# If using a docker service on localhost, set this to the docker ip addr
SPLUNK_HOST=x.x.x.x
SPLUNK_PASSWORD=xxx
SPLUNK_HEC_TOKEN=xxx
POSTGRES_PASSWORD=xxx
REDIS_PASSWORD=xxx
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USE_TLS=True
SMTP_USER=xxx
SMTP_PASSWORD=xxx
ORTHANC_PASSWORD=xxx

# DIANA Project Info
# ------------------
PROJECT_SALT=xxx
PROJECT_FERNET_KEY=xxx

TEST_EMAIL_RCV0=xxx
TEST_EMAIL_RCV2=xxx
TEST_EMAIL_RCV1=xxx
TEST_EMAIL_RCV3=xxx