to: {{ recipient.email }}
from: {{ from_addr }}
subject: SIREN/{{ sender.trial }} Study Received {{ now() }}

{{ recipient.name }}, {{ recipient.affiliation }}:

{{ item.tags.Modality | default("Medical") }} scan images from {{ sender.site }} that were uploaded at {{ now() }} have been received and anonymized (or re-anonymized) at the University of Michigan SIREN/{{ sender.trial }} image registry.

The anonymized study originally performed on {{ item.meta.signature.StudyDateTime }} has been added to the unique registry subject jacket for "{{ item.tags.PatientName }}".  The study has been assigned the unique image identifier "{{ item.tags.AccessionNumber[0:6] }}.  Please save this image identifier with your trial records.  You will be responsible for associating this registry assigned unique image identifier with your subject enrollment in the WEBDCU database.

If imaging for this subject has previously been submitted to the SIREN/{{ sender.trial }} image registry, the unique registry subject jacket should be the same, however, the unique image identifier will be different.  If this study has been filed under the wrong subject jacket, please ensure that any pre-anonymized data from your fileroom includes a consistent subject name, gender, and birthdate (i.e., "Subject 1", "Male", "1/1/1950"), and contact the registry administration team.