cython
scipy
keras
#keras-retinanet  # broken on arm, deps opencv
#opencv-python    # no arm32 pip, can install cv2 with apt
scikit-learn

# ANY OF THESE
# tensorflow
# tensorflow-gpu
# tf-nightly
# tf-nightly-gpu
