attrs >= 18.1.0
bs4
lxml
jinja2
docker
numpy
pydicom
pyyaml
pillow
python-dateutil
redis
requests
cryptography
watchdog
click
pyyaml

# This seems to cause an error when checking as a requirement (from diana-cli)
# python-crud@git+https://github.com/derekmerck/pycrud.git#subdirectory=package
