attrs >= 18.1.0
bs4
lxml
jinja2
docker
numpy
pydicom
pyyaml
pillow
python-dateutil
redis
requests
watchdog
click
pyyaml
python-crud @ git+https://github.com/derekmerck/pycrud.git#subdirectory=package
